<div class="nav-container">
       <div class="nav-text nav-box">
          <h3 class="nav-title nav-remove-hyperlink">&nbsp;<a class="nav-remove-hyperlink" href="/">alecks:~$</a></h3>
          <h3 class="nav-title">&nbsp;<a class="nav-link-text" href="/">home</a> ~ <a class="nav-link-text" href="">posts</a> ~ <a class="nav-link-text" href="">about</a> ~ <a class="nav-link-text" href="/experience">experience</a>&nbsp;</h3>
       </div>
</div>