<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/boxes.css">
    <link rel="stylesheet" href="/assets/styles/subpage.css">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="2f79e82a-b4e5-443a-a3c7-eabea5c9dd61"></script>


    <title>About | Alecks</title>

</head>
<body>

   <%- include('partials/navbar') %>
        

    <div class="subpage-container">
     <div class="subpage-box">
        
        <div class="subpage-text-box">
         <h1 class="box-text frontpage-text-small">Grettings stranger,</h1>
         <p class="box-text">I'm a hobbyist developer and full time high school student from Australia whos interested in programming, networking, system administration, homelabbing, networking and computer hardware (turning old builds into servers for my homelab).</h3>
          <br><br>Additionally, I love gaming, retro tech, anime, shows, nature, documentaries, philosophy and deep night talks.
        </p>
        
         </div>
        </div>     

      </div>
    </div>

    <div class="box-container">
     <div class="box">
        <h1 class="box-text frontpage-text-small">Aspirations
        </h1>
        <p class="box-text">
           <b>Career</b> ~ I'm hoping to land a career in the tech industry, something like a devops engineer, cloud engineer, system administrator, network engineer or software engineer.
        </p>

        <p class="box-text">
           Something really cool I want to do, probably not as a full time job but as a hobby is I want to make documentaries similar in stlye to people like <a class="box-link-text" href="https://www.youtube.com/@BrandonFM" target="_blank">BrandonFM</a>, <a class="box-link-text" href="https://www.youtube.com/@fern-tv" target="_blank">Fern</a>, <a class="box-link-text" href="https://www.youtube.com//@CalebIsSalty" target="_blank">CalebIsSalty</a> and <a class="box-link-text" href="https://www.youtube.com//@DisruptReality" target="_blank">Disrupt</a>. I believe that with my computer knowledge I could make quality in depth and technical documentaries about hacking, cyberattacks and more.
        </p>
     </div>

    <div class="box-container">
     <div class="box">
        <h1 class="box-text frontpage-text-small">My Favourites
        </h1>
        <p class="box-text">
            <b>Shows/Animes</b> ~ Serial Experiments Lain, Arcane, The Promised Neverland, Evangelion, Violet Evergarden.
            <br><br>
            <b>Songs</b> ~ I listen to a lot of different songs & genres depending on my mood so these change regularly but currently its:
            <br><br>Bryant Barnes - I'd rather pretend (with d4vd)
            <br>Bryant Barnes - Universe / Is this love to you (Tied) <br> d4vd - Atomic Land
            <br> sombr - back to friends
            <br>Quadeca - fantasyworld / Alone Together (Tied)
            <br><br>
            <b>Musicians</b> ~ d4vd, Bryant barnes, wifiskeleton, sombr, Joji.
            <br><br>
            <b>Albums</b> ~ I don't listen to many of these my playlist is a mix of different individual songs but when I do its typically one of these: </b>
            <br><br>wifiskeleton - suburban daredevil
            <br>d4vd - WITHERED
            <br>Bryant Barnes - VANITY
            <br>d4vd - Petals to Thorns
        </p>
     </div>



    <div style="margin-bottom: 200px;"></div>


</body>
</html>