<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/boxes.css">
    <link rel="stylesheet" href="/assets/styles/subpage.css">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="2f79e82a-b4e5-443a-a3c7-eabea5c9dd61"></script>


    <title>About | Alecks</title>

</head>
<body>

   <%- include('partials/navbar') %>
        

    <div class="subpage-container">
     <div class="subpage-box">
        
        <div class="subpage-text-box">
         <h1 class="box-text frontpage-text-small">Grettings stranger,</h1>
         <p class="box-text">I'm a teenager from Australia, my main interests at the moment are technology, listening to music, watching anime, system administration, linux, programming and self hosting.</h3>
          <br><br>Additionally I love gaming, retro tech, nature, documentaries, philosophy and deep night talks.
        </p>
        
         </div>
        </div>     

      </div>
    </div>

    <div class="box-container">
     <div class="box">
      <div class="frontpage-text-box">
        <h1 class="box-text frontpage-text-small">This websites purpose</h1>
        <p class="box-text">
           I made this website to be my own little homebase on the internet, with social media and sites like medium you don't actually own any of your content, plus most of them are venture capital funded and not profitable so many will collapse within the next few decades.
           <br><br>
           So whats the best way to combat that? Run my own infrastructure, run my own git service and host content exclusively on my website.
        </p>
      </div>
     </div>

    <div class="box-container">
     <div class="box">
      <div class="frontpage-text-box">
        <h1 class="box-text frontpage-text-small">Aspirations
        </h1>
        <p class="box-text">
           <b>Career</b> ~ I'm planning to attempt to land a career in the tech industry, something like a devops engineer, cloud engineer, system administrator, network engineer or software engineer.
        </p>

        <p class="box-text">
           Something really cool I want to do, probably not as a full time job but as a hobby is I want to make documentaries similar in stlye to people like <a class="box-link-text" href="https://www.youtube.com/@BrandonFM" target="_blank">BrandonFM</a>, <a class="box-link-text" href="https://www.youtube.com/@fern-tv" target="_blank">Fern</a> and <a class="box-link-text" href="https://www.youtube.com//@DisruptReality" target="_blank">Disrupt</a>.
        </p>
      </div>
     </div>

    <div class="box-container">
     <div class="box">
      <div class="frontpage-text-box">
        <h1 class="box-text frontpage-text-small">My Favourites
        </h1>
        <p class="box-text">
            <b>Shows/Animes</b> ~ Serial Experiments Lain, Arcane, The Promised Neverland, Evangelion, Violet Evergarden.
        </p>
       </div>
     </div>



    <div style="margin-bottom: 200px;"></div>


</body>
</html>