<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/boxes.css">
    <link rel="stylesheet" href="/assets/styles/subpage.css">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="2f79e82a-b4e5-443a-a3c7-eabea5c9dd61"></script>

    <title>Alecks | About</title>

</head>
<body>

   <%- include('partials/navbar') %>
        

    <div class="subpage-container">
     <div class="subpage-box">
        
        <div class="subpage-text-box">
         <h1 class="box-text frontpage-text-small">Greetings, stranger.</h1>
         <p class="box-text">My name's Alecks, I'm a teenage (self-taught) developer from Australia whos interested in programming, networking, system administration, homelabbing and building pcs.</h3>
          <br><br> Additionally, I enjoy gaming, retro tech, anime, shows, nature, documentaries, philosophy and deep night talks.
          <br><br>I'm a full-time high school student with plans to go to tafe, then attempt to land a career as a DevOps engineer, Cloud engineer, Network engineer or System Administrator (Maybe software engineer, but honestly programming is one of my least favourite hobbys).
        </p>
        
         </div>
        </div>     

      </div>
    </div>

    <div class="box-container">
     <div class="box">
        <h1 class="box-text frontpage-text-small">My Favourites
        </h1>
        <p class="box-text">
            <b>Shows/Animes</b> ~ Serial Experiments Lain, Arcane, The Promised Neverland, Evangelion, Violet Evergarden.
            <br><br>
            <b>Songs</b> ~ I listen to a lot of different songs & genres depending on my mood so these change regularly but currently its:<br><br>Bryant Barnes - I'd rather pretend (with d4vd)<br>Bryant Barnes - Universe / Is this love to you (Tied) <br> d4vd - Atomic Land<br> sombr - back to friends<br>Quadeca - fantasyworld / Alone Together (Tied)
            <br><br>
            <b>Musicians</b> ~ d4vd, Bryant barnes, Quadeca, sombr, Joji, wifiskeleton.
        </p>
     </div>



    <div style="margin-bottom: 200px;"></div>


</body>
</html>