<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/boxes.css">
    <link rel="stylesheet" href="/assets/styles/subpage.css">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="2f79e82a-b4e5-443a-a3c7-eabea5c9dd61"></script>

    <title>Alecks | Garden</title>

</head>
<body>

   <%- include('partials/navbar') %>
        

    <div class="subpage-container">
     <div class="subpage-box">
        
        <div class="subpage-text-box">
         <h3 class="box-text frontpage-text-small" style="font-size: 25px; margin-top: 15px;">🍜 Digital Garden </h3>
         <p class="subpage-text">Welcome to my digital garden, a collection of everything I've made over the years. Websites, projects, archives, my homelab and services I'm running. Its quite small but slowly expanding.</p>
         
         </div>
        </div>     

      </div>
    </div>

    <!-- <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="box-text frontpage-text-small">My Projects</h3>
                <div style="margin-bottom: 25px;"></div>
                <h3 class="frontpage-text frontpage-text-small">Discontinued - Discord.py, Docker & MongoDB</h3>
                <h3 class="box-text"><a class="link-text" href="" target="_blank">Cloudy Bot</a>&nbsp;- my attempt at building a sleek, responsive and feature packed multipurpose discord bot. made early 2023 shutdown early 2024.</h3>
                <div style="margin-bottom: 25px;"></div>
                <h3 class="frontpage-text frontpage-text-small">FastAPI, Docker & MongoDB</h3>
                <h3 class="box-text"><a class="link-text" href="" target="_blank">Alecks API</a>&nbsp;- service that lets you manage and access all (or some) of my other services via http requests.</h3>
                <div style="margin-bottom: 25px;"></div>
                <h3 class="frontpage-text frontpage-text-small">Express.js, Docker</h3>
                <h3 class="box-text"><a class="link-text" href="" target="_blank">alecks-dev</a>&nbsp;- the website your currently viewing, apart of my larger production stack which includes the website, caddy proxy, api and db.</h3>
        </div>

    </div>  -->

    <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="frontpage-text frontpage-text-small">Notice - Still working on getting some of these online</h3>
                <h3 class="box-text frontpage-text-small">Website Archives</h3>
                <p class="box-text">
                 <b><a class="link-text" href="https://a3d-website-v1.pages.dev" target="_blank">A3D</a></b> — included a minimalistic homepage, services page and about section.
                 <br><br>
                 <b><a class="link-text" href="https://atomic2ds-legacy-website.pages.dev/" target="_blank">GitHub Landing</a></b> — simple empty landing page with links to my old socials like Replit, Github, Twitter and YouTube.
                 <br><br>
                 <b><a class="link-text" href="https://archive.alecks.dev/" target="_blank">Alecks (v1)</a></b> — the website I had before this one, includes a blog, experience page, projects, about me and password generator.
                </p>
        </div>

    </div>

    <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="frontpage-text frontpage-text-small">By using my services you agree to the TOS and Privacy Policy</h3>
                <h3 class="box-text frontpage-text-small">My Services</h3>
                <p class="box-text"><a class="link-text" href="https://sites.alecks.dev" target="_blank">Sites</a>&nbsp;- free static website hosting for small independent sites, includes free custom domains, alecks.site subdomain, 20mb starting storage (increasable upon request) and fair use bandwidth.</p>
        </div>

    </div>

    <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="frontpage-text frontpage-text-small">Homelab setup and build specs</h3>
                <h3 class="box-text frontpage-text-small">Work in progress...</h3>
        
        </div>

    </div>


    <div style="margin-bottom: 200px;"></div>


</body>
</html>