<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/boxes.css">
    <link rel="stylesheet" href="/assets/styles/subpage.css">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="2f79e82a-b4e5-443a-a3c7-eabea5c9dd61"></script>

    <title>Garden | Alecks</title>

</head>
<body>

   <%- include('partials/navbar') %>
        

    <div class="subpage-container">
     <div class="subpage-box">
        
        <div class="subpage-text-box">
         <h3 class="box-text frontpage-text-small">Digital Garden </h3>
         <p class="subpage-text">Welcome to my digital garden, a collection of everything I've made over the years. Websites, projects, archives and my <a class="link-text" href="./homelab">homelab</a>. Its quite small but slowly expanding.</p>
         
         </div>
        </div>     

      </div>
    </div>


    <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="frontpage-text frontpage-text-small">Typically have spare capacity, reach out if you'd like like access to any.</h3>
                <h3 class="box-text frontpage-text-small">My Services</h3>
                <!-- <p class="box-text"><a class="link-text" href="https://git.alecks.dev" target="_blank">Gitea</a>&nbsp;- where I store all my projects and docker images.</p> -->
                <p class="box-text"><a class="link-text" href="https://ptero.alecks.dev" target="_blank">Pterodactyl</a>&nbsp;- control panel to deploy and manage game servers running docker at its core, wings runs on Pyro.</p>
        </div> 
    </div>

    <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="frontpage-text frontpage-text-small">Notice - Still working on getting some of these online.</h3>
                <h3 class="box-text frontpage-text-small">Website Archives</h3>
                <p class="box-text">
                 <b><a class="link-text" href="https://v1.alecks.dev/" target="_blank">Alecks (v1)</a></b> — the og alecks.dev website, includes a blog, experience page, projects, about me and password generator.
                 <br><br>
                 <b><a class="link-text" href="https://a3d-website-v1.pages.dev" target="_blank">A3D</a></b> — includes a minimalistic homepage, services and about page, a3d was an abbreviation of my old username "atomic3ds"
                </p>
        </div>

    </div>


    <div style="margin-bottom: 200px;"></div>


</body>
</html>