<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/boxes.css">
    <link rel="stylesheet" href="/assets/styles/subpage.css">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="2f79e82a-b4e5-443a-a3c7-eabea5c9dd61"></script>

    <title>Homelab | Alecks</title>

</head>
<body>

   <%- include('partials/navbar') %>
        
    <!-- <div class="subpage-container">
        <div class="subpage-box">
            <div class="frontpage-text-box">
                <h3 class="box-text frontpage-text-small">Service Notice</h3>
                <p class="box-text">
                    My homelab is currently down for maintenance until the end of this year, services should all be back up by then.
                </p>
            </div>
        </div>
    </div> -->

    <div class="subpage-container">
        <div class="subpage-box">
            <div class="frontpage-text-box">
                <h3 class="box-text frontpage-text-small">Compute Nodes</h3>
                <p class="box-text">
                <b>Railway</b> - primary compute node, energy efficient and reliable.
                
                <br><br>
                <b>CPU:</b> i5-7400T (2.4GHz, 4c 4t)
                <br>
                <b>Memory/RAM:</b> 8GB DDR4
                <br>
                <b>Storage: </b> 256GB NVMe SSD
                <br>
                <b>OS: </b> Ubuntu 24.04
                <br>
                <b>Hosts: </b>Pyrodactyl (Panel), <b>This Website</b> and Analytics
                <br><br>
                <b>Pyro</b> - dedicated gameserver node, runs small friendgroup servers very smoothly (minecraft, terraria, valheim, ark).
                <br><br>
                <b>CPU:</b> i7-4770 (3.9GHz, 4c 8t)
                <br>
                <b>Memory/RAM:</b> 16GB DDR3
                <br>
                <b>Storage: </b> 500GB SATA SSD
                <br>
                <b>OS: </b> Ubuntu 24.04
                <br>
                <b>Hosts: </b> Pyrodactyl (Wings)
            </div>
        </div>
    </div>

    <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="box-text frontpage-text-small">Network, monitoring and backups</h3>
                <p class="box-text">
                Nodes share a gigabit fibre line, protected with <a class="link-text" href="https://globalsecurelayer.com/ddos-protection" target="_blank">GSL</a>.

                <br><br>
                <a class="link-text" href="https://hetrixtools.com" target="_blank">HetrixTools</a> is used to monitor uptime, cpu, ram, storage and bandwidth usage, <a class="link-text" href="https://ntfy.sh" target="_blank">NTFY</a> is used for real-time push notifications about incidents.

                <br><br>
                Encrypted backups of server disks are sent to <a class="link-text" href="https://backblaze.com" target="_blank">Backblaze</a> using restic as an offsite backup.

                </p>
        </div>

    </div>

    </div>




    <div style="margin-bottom: 200px;"></div>


</body>
</html>