<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="0c5ab01a-6965-493f-9467-31e144225fca"></script>

    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/boxes.css">

    <title>Alecks | Home</title>

</head>
<body>
    <!-- <img class="hanging-plant" src="/assets/images/assets/hanging-plant.png"> -->

    <div class="frontpage-container">
     <div class="frontpage-box">

        <div class="frontpage-pfp-container">
            <img class="frontpage-pfp" src="/assets/images/caitlyn_pfp.png" class="frontpage-pfp">
            <h3 class="frontpage-pfp-text">Caitlyn from Arcane</h3>
        </div>

        <div class="frontpage-text-box">
         <h3 class="frontpage-text frontpage-text-small frontpage-text-left-padding">Introduction & About Me</h3>
         <h3 class="frontpage-text frontpage-text-left-padding">Hello internet, my name is Alecks and I'm a self-taught developer from Australia who has a strong passion for system administration and programming (Currently know Python and JS) I like shows, anime, games and linux (Running Nobara).</h3>
         <h3 class="frontpage-text frontpage-text-left-padding">This website is for showcasing stuff I make, expressing my personality, writing pointless things and much more, so if you wish to see stuff like that feel free to bookmark this site, othewise I wish you well on your internet surfing journey.</h3>
         <h3 class="frontpage-text frontpage-text-small float-right">Find me here:&nbsp;<a class="frontpage-link-text" href="https://discord.com/users/612522818294251522" target="_blank">Discord</a>,&nbsp;<a class="frontpage-link-text" href="https://steamcommunity.com/profiles/76561199121598457/" target="_blank">Steam</a>,&nbsp;<a class="frontpage-link-text" href="https://medal.tv/u/indihomepaketstreamix" target="_blank">Medal</a> </h3>
         <h3 class="frontpage-text frontpage-text-small float-left">This website is open source, find the source code&nbsp;<a class="frontpage-link-text" href="https://github.com/alecks20/alecks-dev" target="_blank">here</a></h3>
        </div>


      </div>
    </div>


    <h3 class="frontpage-text frontpage-text-smaller centered">Learn more about me.</a></h3>

    <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="box-text frontpage-text-small">My Services</h3>
                <h3 class="box-text"><a class="link-text" href="https://packs.alecks.dev" target="_blank">Packs</a>&nbsp;- free, easy and reliable resource pack hosting for minecraft server owners, will release eventually.</h3>
                <!-- <h3 class="box-text"><a class="link-text" href="https://chat.alecks.dev" target="_blank">Revolt</a>&nbsp;- my self-hosted instance of revolt.chat, a fully open source user-first chat platform based on discord (invite only)</h3> -->
                <h3 class="box-text"><a class="link-text" href="https://ptero.alecks.dev" target="_blank">Pterodactyl</a>&nbsp;- reach out to me and I'll give you a spot on my pterodactyl node where you can run any game server that has a pterodactyl egg (only small friend group servers - I don't have much capacity)</h3>
         </div>
    </div>

    <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="box-text frontpage-text-small">Contact Me</h3>
                <h3 class="box-text">You can reach out to me via Discord (alecks20), sending me a signal dm (@alecks54) or sending me an email (alecks03@proton.me) - ordered by how quick I'll respond</h3>
                <h3 class="box-text">Response times will vary depending on what region of the world your in but I shall typically respond within 2-3 days</h3>
         </div>
    </div>

    <div class="container" style="display: flex; justify-content: space-between; margin-top: 50px;">
        <div></div>
      </div>

    <h3 class="frontpage-text frontpage-text-small centered"><a href="/privacy" target="_blank" class="link-text">Privacy Policy</a>,&nbsp;<a class="link-text" href="/tos" target="_blank">Terms of Service</a></h3>
    

</body>
</html>