<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/nav.css">
    <link rel="stylesheet" href="/assets/styles/boxes.css">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="2f79e82a-b4e5-443a-a3c7-eabea5c9dd61"></script>

    <title>Home | Alecks</title>

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.webp">

</head>
<body>

   <%- include('partials/navbar') %>

    <div class="frontpage-container">
     <div class="frontpage-box">

        <div class="frontpage-pfp-container">
            <img class="frontpage-pfp" src="/assets/images/emma-brown.webp" class="frontpage-pfp">
            <h3 class="frontpage-pfp-text">Emma from&nbsp;<a class="frontpage-link-text" href="https://en.wikipedia.org/wiki/The_Promised_Neverland" target="_blank">TPN</a></h3>
        </div>

        <div class="frontpage-text-box">
         <h3 class="frontpage-text frontpage-text-small frontpage-text-left-padding">Introduction & About Me</h3>
         <p class="frontpage-text frontpage-text-left-padding">Hello internet, my name is Alecks. I’m a hobbyist (& self-taught) developer from Australia with a passion for computers, programming, homelabbing and system administration.</p>
         <p class="frontpage-text frontpage-text-left-padding">I use this website to showcase my exerience with different technologies, blog about things I've learned like server security, the process of building my home server (coming soon) and display my digital garden.</p>
         <h3 class="frontpage-text frontpage-text-small float-right">Socials:&nbsp;<a class="frontpage-link-text" href="https://discord.com/users/612522818294251522" target="_blank">Discord</a>,&nbsp;<a class="frontpage-link-text" href="https://github.com/Alecks20" target="_blank">GitHub</a>&nbsp;</h3>
         <h3 class="frontpage-text frontpage-text-small float-left"> Not Copyrighted -&nbsp;<a class="frontpage-link-text" href="https://github.com/alecks20/alecks-dev" target="_blank">Source</a>&nbsp;</h3>
        </div>


      </div>
    </div>


    <!-- <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="frontpage-text frontpage-text-small">By using my services you agree to the TOS and Privacy Policy.</h3>
                <h3 class="box-text frontpage-text-small">* My Services</h3>
                <h3 class="box-text"><a class="link-text" href="https://sites.alecks.dev" target="_blank">Sites</a>&nbsp;- free static website hosting for small independent sites, includes free custom domains, alecks.site subdomain, 20mb starting storage (increasable upon request) and fair use bandwidth.</h3>
                <h3 class="box-text"><a class="link-text" href="https://alecks.space" target="_blank">Game Hosting</a>&nbsp;- alecks.space, a service that provides free and reliable managed minecraft server hosting to aussies (closed beta).</h3> --> 
                <!-- <h3 class="box-text"><a class="link-text" href="https://packs.alecks.dev" target="_blank">Packs</a>&nbsp;- free, easy and reliable resource pack hosting for minecraft server owners, will release eventually.</h3>
                <h3 class="box-text"><a class="link-text" href="https://ptero.alecks.dev" target="_blank">Pterodactyl</a>&nbsp;- reach out to me and I'll give you a spot on my pterodactyl node where you can run any game server that has a pterodactyl egg (only small friend group servers - I don't have much capacity)</h3> -->
    <!--    </div>
    </div>  --> 

    <!--
    <div class="box-container">
        <div class="box">
            <div class="frontpage-text-box">
                <h3 class="box-text frontpage-text-small">* Contact Me</h3>
                <h3 class="box-text">You can reach out to me via Discord (alecks20) or by sending me an email (me@alecks.dev) - preferrably use discord for casual chats or inquiries and email for more formal things.</h3>
                <h3 class="box-text">Both will have around the same response time (~1-3 days).</h3>
         </div>
    </div>
    ---

</body>
</html>