<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="0c5ab01a-6965-493f-9467-31e144225fca"></script>

    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/privacy.css">

    <title>Alecks | Privacy</title>

</head>
<body>
    <div class="privacy-container">
        <h3 class="privacy-text privacy-title">Privacy Policy</h3>
        <h3 class="privacy-text">baselne rule - I will never read, modify or distribute any data you upload or store on my systems unless permitted by YOU.</h3>
        <h3 class="privacy-text">data stored onsite - data that is stored on my own custom built server in australia which I have full physical control over ensuring that no corporation (like a cloud provider) can see your data ensuring maximum privacy.</h3>
        <h3 class="privacy-text">game hosting - panel data is hosted in sydney, australia on an ovh vps (includes: email address, encrypted password, server data like name and description, and your ip address in activity logs). your server files and backups are both also stored onsite.</h3>
        <h3 class="privacy-text">revolt (alecks chat) - messages, account data, servers, logs and all other data is stored in a mongo database onsite (service is not recommended for fully-private conversations)</h3>
        <h3 class="privacy-text">encrypted disk backups of all servers are uploaded to backblaze b2 and onsite systems are setup with raid 1 for redundency. data stored onsite is never sent off unencrypted to any other location or service, encryption keys are never managed by a provider.</h3>
        <h3 class="privacy-text">send data erasure requests to <a class="highlighted-privacy-text">alecks03@pm.me</a>, include all data possible and proof its yours.</h3>
        <h3 class="frontpage-text frontpage-text-small centered">Last updated 20/01/2025</h3>
    </div>
</body>
</html>
