<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/privacy.css">

    <title>Alecks | Privacy</title>

</head>
<body>
    <div class="privacy-container">
        <h3 class="privacy-text privacy-title">Privacy Policy</h3>
        <h3 class="privacy-text">latest notices - currently my home server is down so all data is in the cloud, I use many of these services myself so I take privacy and security very seriously.</h3>
        <h3 class="privacy-text">game hosting (pterodactyl) - on our panel database we store your email address, ip address (in activity logs), password hash and remote server data (names, descriptions, metadata and activity logs). your server files are stored on our wings node and backups are on a third party s3 provider.</h3>
        <h3 class="privacy-text">git hosting - we store your account data (email address, ip logs, activity, oauth2 connections), repo files, repo metadata and packages on its own vps server.</h3>
        <h3 class="privacy-text">encrypted disk backups of all servers are uploaded to backblaze b2 (work in progress)</h3>
        <h3 class="privacy-text">send data erasure requests to <a class="highlighted-privacy-text">alecks03@pm.me</a>, include all data possible and proof its yours (I don't want your unused data either, disk space costs money).</h3>
        <h3 class="frontpage-text frontpage-text-small centered">Last updated 03/05/2025</h3>
    </div>
</body>
</html>
