<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="0c5ab01a-6965-493f-9467-31e144225fca"></script>

    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/privacy.css">

    <title>Alecks | Privacy</title>

</head>
<body>
    <div class="privacy-container">
        <h3 class="privacy-text privacy-title">Privacy Policy</h3>
        <h3 class="privacy-text">where your data is stored - I have a hybrid cloud setup where services and data that require high availability live in the cloud and more sensitive data lives on my own hardware (onsite).</h3>
        <h3 class="privacy-text">game hosting (pterodactyl) - panel data is stored in the cloud (includes: email address, encrypted password, server data like name, description and your ip address in activity logs). your server files and backups are both stored onsite.</h3>
        <h3 class="privacy-text">packs - no sensitive data is held, the .zip copy of your resource pack is hosted on our cdn.</h3>
        <h3 class="privacy-text">revolt (alecks chat) - messages, account data, servers, logs and all other data is stored on an onsite server (service is not recommended for highly sensitive conversations)</h3>
        <h3 class="privacy-text">encrypted disk backups of all servers are uploaded to backblaze b2 (work in progress)</h3>
        <h3 class="privacy-text">send data erasure requests to <a class="highlighted-privacy-text">alecks03@proton.me</a>, include all data possible and proof its yours.</h3>
        <h3 class="frontpage-text frontpage-text-small centered">Last updated 06/02/2025</h3>
    </div>
</body>
</html>
