<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Loading in stylesheets -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/frontpage.css">
    <link rel="stylesheet" href="/assets/styles/privacy.css">

    <script defer src="https://analytics.alecks.dev/script.js" data-website-id="b4ff10cf-790b-4f23-847c-2457934c0ed1"></script>

    <title>Alecks | Privacy</title>

</head>
<body>
    <div class="privacy-container">
        <h3 class="privacy-text privacy-title">Privacy Notice</h3>
        <h3 class="frontpage-text frontpage-text-small">Last updated 03/05/2025</h3>
        <h3 class="privacy-text">Latest notices - currently my home server is down so all data is in the cloud, I use many of these services myself so I take privacy and security very seriously.</h3>
        <!-- <h3 class="privacy-text">Game hosting (Pterodactyl) - on our panel database we store your email address, ip address (in activity logs), password hash and remote server data (names, descriptions, metadata and activity logs). your server files are stored on our wings node and backups are on a third party s3 provider.</h3> -->
        <h3 class="privacy-text">Sites - website files, email, password (hashed).</h3>
        <h3 class="privacy-text">Services are backed up to Cloudflare R2 daily (2-3 day retention period)</h3>
        <h3 class="privacy-text">Send data erasure requests to <a class="highlighted-privacy-text">alecks03@pm.me</a>, include all data possible and proof its yours (I don't want your unused data either, disk space costs money).</h3>

        <h3 class="frontpage-text frontpage-text-small centered">[&nbsp<a href="/" class="link-text">Return Home</a>&nbsp]</h3>
    </div>
</body>
</html>
