.box {
    width: 825px;
    padding: 35px;
    border: 2px dashed var(--text-color);;
 }
 .box-container {
     flex-direction: column;
     display: flex;
     justify-content: center;
     z-index: 1000;
     align-items: center;
     gap: 20px;
 }

.box-title {
    font-size: 11px;
}

.box-text {
    color: var(--text-color);
    font-size: 19px;
}

.chat-box-text {
    font-size: 18px;
}