

.frontpage-text {
    color: var(--text-color);
    display: flex;
    font-size: 20px;
}
.frontpage-text-small {
    font-size: 15px;
}
.frontpage-text-small2 {
    font-size: 17.5px;
}
.frontpage-text-smaller {
    font-size: 25px;
}
.frontpage-text-left-padding {
    padding-left: 20px;
}
.frontpage-text-box {
    padding: 10px;
    height: 100%;
}
.frontpage-link-text {
    font-size: 15px;
    color: rgb(54, 78, 156);
}


.frontpage-pfp {
    display: flex;
    float: left;

    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 2px dashed var(--text-color);
    padding: 12.5px;
}
.frontpage-pfp-container {
    display: flex;
    float: left;
    height: 100%;
    padding: 10px;
    flex-direction: column;
}
.frontpage-pfp-text {
    color: var(--text-color);
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}

.frontpage-box {
   width: 825px;
   min-height: 350px;
   padding: 40px;
   border: 2px dashed var(--text-color);
}

.frontpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1000;
}

.bottom-image {
    height: 250px;
}