

:root {
    --background-colour: #0e0e0e;
    --text-color: rgb(212, 212, 212);
    --link-text-colour: rgb(69, 86, 139);
}

::selection {
  color: var(--text-color);
  background: var(--link-text-colour);
}

body {
    font: calc(0.40rem + 1vmin) monospace;
    background-color: var(--background-colour);
}

.float-left {
    float : left;
}

.remove-bottom-margin {
   margin-bottom: 0px;
}

.float-right {
    float: right;
}

.centered {
    justify-content: center;
    align-items: center;
}

.hanging-plant {
    height: 200px;
    position: absolute;
    left: 50%;
    top: -8%;
    transform: translateX(-50%);
}

.bottom-left-fixed {
    bottom: 0;
    left: 0;
    height: 250px;
    position: absolute;
}

.bottom-right-fixed {
    bottom: 0;
    right: 0px;
    height: 250px;
    position: absolute;
}

.footer-text {
    font-size: 14px;
    color: var(--text-color);
    bottom: 0%;
}

.link-text {
    color: var(--link-text-colour);
}

.txt404 {
    color: var(--text-color);
    text-align: center;
}

.txt404-1 {
    margin-bottom: 0;
    font-size: 200px;
    margin-top: 0;
}

.box404 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1000;
}