.privacy-container {
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 0;
}
.privacy-text {
    color: var(--text-color);
    font-size: 18px;
}
.highlighted-privacy-text {
    color: var(--link-text-colour);
}
.privacy-title {
    font-size: 30px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 60px;
}