.skill-icons {
    display: flex;
    clear: both;
    margin-top: 35px;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }
  
.skill-icon:hover {
    color: var(--link-text-hover-colour);
}

@media (max-width: 100px) {
  .skill-icons {
    display: none;
  }
}
  
.skill-icon {
    font-size: 75px;
    line-height: 0.5;  
    color: var(--text-color-2);
    text-decoration: none;
    justify-content: left;
    align-items: left;
    text-align: left;
    align-self: left;
    margin-right: 5px;
}
