

.subpage-text {
    color: var(--text-color);
    font-size: 20px;
}
.subpage-text code {
    color: var(--text-color);
    font-size: 18px;
    background-color: var(--box-colour-2);
}
.subpage-text pre {
    color: var(--text-color);
    font-size: 20px;
    background-color: var(--box-colour-2);
    padding: 10px;
    overflow-x: auto;
}
.subpage-text hr {
    color:var(--box-colour-2);
}
.subpage-text a{
    color: var(--link-text-colour);
}
.subpage-text-small {
    font-size: 15px;
}
.subpage-text-small2 {
    font-size: 17.5px;
}
.subpage-text-title {
    font-size: 35px;
}
.subpage-text-smaller {
    font-size: 25px;
}
.subpage-text-left-padding {
    padding-left: 20px;
}
.subpage-text-title:hover {
    color: var(--link-text-hover-colour);
}
.subpage-text-box {
    padding: 10px;
    height: 100%;
}
.subpage-link-text {
    font-size: 15px;
    color: var(--link-text-colour);
}


.subpage-pfp-text {
    color: var(--text-color);
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}

.subpage-box {
   width: 825px;
   padding: 25px;
   border: 2px dashed var(--text-color);
   background-color: var(--box-colour);
}

.subpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
