
:root {
    --background-colour: #1a1c1e;
}

body {
    font: calc(0.40rem + 1vmin) monospace;
    background-color: var(--background-colour);
}

.float-left {
    float : left;
}

.float-right {
    float: right;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbulb {
    height: 200px;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-left-fixed {
    bottom: 0;
    left: 0;
    height: 400px;
    position: absolute;
}

.bottom-right-fixed {
    bottom: 0;
    right: 20px;
    height: 400px;
    position: absolute;
}