
:root {
    --background-colour: #1a1c1e;
}

body {
    font: calc(0.40rem + 1vmin) monospace;
    background-color: var(--background-colour);
}

.float-left {
    float : left;
}

.float-right {
    float: right;
}

.centered {
    justify-content: center;
    align-items: center;
}

.hanging-plant {
    height: 200px;
    position: absolute;
    left: 50%;
    top: -8%;
    transform: translateX(-50%);
}

.bottom-left-fixed {
    bottom: 0;
    left: 0;
    height: 250px;
    position: absolute;
}

.bottom-right-fixed {
    bottom: 0;
    right: 0px;
    height: 250px;
    position: absolute;
}

.footer-text {
    font-size: 14px;
    color: rgb(158, 151, 151);
    bottom: 0%;
}